[submodule "dotbot"]
    path = .dotbot/dotbot
    url = git://github.com/anishathalye/dotbot.git
    ignore = dirty
[submodule "dotbot-asdf"]
    path = .dotbot/plugins/dotbot-asdf
    url = git://github.com/sobolevn/dotbot-asdf.git
[submodule "dotbot-brew"]
    path = .dotbot/plugins/dotbot-brew
    url = git://github.com/d12frosted/dotbot-brew.git
[submodule "dotbot-ghq"]
    path = .dotbot/plugins/dotbot-ghq
    url = git://github.com/klane/dotbot-ghq.git
[submodule "dotbot-vscode"]
    path = .dotbot/plugins/dotbot-vscode
    url = git://github.com/hujianxin/dotbot-vscode.git
