[user]
  name = Kevin Lane
  email = lane.kevin.a@gmail.com
  signingkey = 1C86152D9F2E3D7F
[init]
  defaultBranch = main
[core]
  autocrlf = false
  editor = 'subl' --wait
  eol = lf
  excludesfile = ~/.gitignore
  filemode = false
  pager = delta --dark --24-bit-color=never --file-color=bright-yellow
[commit]
  gpgsign = true
[alias]
  branch-clean = !git branch | grep -v "master" | ifne xargs git branch -D && git remote prune origin
  branches = !legit branches
  check = !pre-commit run --all-files
  get = !ghq get $1 && cd $(ghq root)/$(ghq list | grep $1) && git yaw
  graph = log --graph --oneline
  publish = !legit publish
  resign = !git rebase --exec 'git commit --amend --no-edit -n -S' -i $1
  switch = !legit switch
  sync = !legit sync
  tag-poetry = !poetry version | cut -d' ' -f2 | xargs -I {} git tag -a v{} -m 'Release {}' -s
  undo = !legit undo
  unpublish = !legit unpublish
  up = !gitup
  yaw = !fish -c gityaw
[color]
  ui = true
[color "diff-highlight"]
  oldNormal = red bold
  oldHighlight = red bold 52
  newNormal = green bold
  newHighlight = green bold 22
[color "diff"]
  meta = 11
  frag = magenta bold
  commit = yellow bold
  old = red bold
  new = green bold
  whitespace = red reverse
[ghq]
  root = ~/.repos
[push]
  followTags = true
[pull]
  rebase = false
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[diff "lfs"]
  textconv = cat
