[user]
  name = Kevin Lane
  email = lane.kevin.a@gmail.com
  signingkey = 1C86152D9F2E3D7F
[core]
  autocrlf = false
  editor = 'subl' --wait
  eol = lf
  excludesfile = ~/.gitignore
  filemode = false
  pager = diff-so-fancy | less --tabs=4 -RFX
[commit]
  gpgsign = true
[alias]
  graph = log --graph --oneline
  bclean = !git branch | grep -v "master" | xargs git branch -D && git remote prune origin
  switch = !legit switch
  sync = !legit sync
  publish = !legit publish
  unpublish = !legit unpublish
  undo = !legit undo
  branches = !legit branches
  check = !pre-commit run --all-files
  get = !ghq get $1 && cd $(ghq root)/$(ghq list | grep $1) && git yaw
  up = !gitup
  yaw = !fish -c gityaw
[color]
  ui = true
[color "diff-highlight"]
  oldNormal = red bold
  oldHighlight = red bold 52
  newNormal = green bold
  newHighlight = green bold 22
[color "diff"]
  meta = 11
  frag = magenta bold
  commit = yellow bold
  old = red bold
  new = green bold
  whitespace = red reverse
[ghq]
  root = ~/.repos
